
/* Your CSS Code here. */
*{
	border-boxing:border-box;
	margin:0px;
	padding:0px;
}
.holder{
	display:flex;
	justify-content:space-between;
}
.item1{
	width:100px;
	height:100px;
	background-color:green;
	font-size:50px;
}
.item2{
	width:100px;
	height:100px;
	background-color:red;
	font-size:50px;
}
.item3{
	width:100px;
	height:100px;
	background-color:blue;
	font-size:50px;
}